In [7]:
#Importing libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn import metrics

df = pd.read_csv("5G_energy_consumption_dataset.csv")

In [22]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92629 entries, 0 to 92628
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Time     92629 non-null  datetime64[ns]
 1   BS       92629 non-null  object
 2   Energy   92629 non-null  float64
 3   load     92629 non-null  float64
 4   ESMODE   92629 non-null  float64
 5   TXpower  92629 non-null  float64
 6   Year     92629 non-null  int32
 7   Month    92629 non-null  int32
 8   Day      92629 non-null  int32
 9   Hour     92629 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(4), object(1)
memory usage: 5.7+ MB

In [9]:
df.isnull().sum()

Time       0
BS         0
Energy     0
load       0
ESMODE     0
TXpower    0
dtype: int64

In [26]:
df.describe(include = 'all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
Time,92629,NaN,NaN,NaN,2023-01-04 00:31:21.324423424,2023-01-01 01:00:00,2023-01-02 11:00:00,2023-01-03 20:00:00,2023-01-05 14:00:00,2023-01-08 00:00:00,NaN
BS,92629,923,B_583,130,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Energy,92629.0,NaN,NaN,NaN,28.138997,0.747384,18.236173,24.06577,35.724963,100.0,13.934645
load,92629.0,NaN,NaN,NaN,0.244705,0.0,0.05737,0.16555,0.363766,0.993957,0.234677
ESMODE,92629.0,NaN,NaN,NaN,0.081361,0.0,0.0,0.0,0.0,4.0,0.382317
TXpower,92629.0,NaN,NaN,NaN,6.765427,5.381166,6.427504,6.875934,6.875934,8.375336,0.309929
Year,92629.0,NaN,NaN,NaN,2023.0,2023.0,2023.0,2023.0,2023.0,2023.0,0.0
Month,92629.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0
Day,92629.0,NaN,NaN,NaN,3.53941,1.0,2.0,3.0,5.0,8.0,1.830907
Hour,92629.0,NaN,NaN,NaN,11.576752,0.0,6.0,12.0,18.0,23.0,6.894317

In [12]:
df.duplicated().sum()

0

In [18]:
df.head()

                 Time   BS     Energy      load  ESMODE   TXpower
0 2023-01-01 01:00:00  B_0  64.275037  0.487936     0.0  7.101719
1 2023-01-01 02:00:00  B_0  55.904335  0.344468     0.0  7.101719
2 2023-01-01 03:00:00  B_0  57.698057  0.193766     0.0  7.101719
3 2023-01-01 04:00:00  B_0  55.156951  0.222383     0.0  7.101719
4 2023-01-01 05:00:00  B_0  56.053812  0.175436     0.0  7.101719

In [17]:
df['Time'] = pd.to_datetime(df['Time'],format='%Y%m%d %H%M%S')

In [21]:
df['Year'] = df['Time'].dt.year
df['Month'] = df['Time'].dt.month
df['Day'] = df['Time'].dt.day
df['Hour'] = df['Time'].dt.hour
df

,Time,BS,Energy,load,ESMODE,TXpower,Year,Month,Day,Hour
0,2023-01-01 01:00:00,B_0,64.275037,0.487936,0.0,7.101719,2023,1,1,1
1,2023-01-01 02:00:00,B_0,55.904335,0.344468,0.0,7.101719,2023,1,1,2
2,2023-01-01 03:00:00,B_0,57.698057,0.193766,0.0,7.101719,2023,1,1,3
3,2023-01-01 04:00:00,B_0,55.156951,0.222383,0.0,7.101719,2023,1,1,4
4,2023-01-01 05:00:00,B_0,56.053812,0.175436,0.0,7.101719,2023,1,1,5
...,...,...,...,...,...,...,...,...,...,...
92624,2023-01-02 17:00:00,B_1018,14.648729,0.087538,0.0,7.325859,2023,1,2,17
92625,2023-01-02 18:00:00,B_1018,14.648729,0.082635,0.0,7.325859,2023,1,2,18
92626,2023-01-02 21:00:00,B_1018,13.452915,0.055538,0.0,7.325859,2023,1,2,21
92627,2023-01-02 22:00:00,B_1018,13.602392,0.058077,0.0,7.325859,2023,1,2,22
92628,2023-01-02 23:00:00,B_1018,13.303438,0.048173,0.0,7.325859,2023,1,2,23

In [36]:
df['Month'].value_counts()

Month
1    92629
Name: count, dtype: int64

In [27]:
# Calculate the mean of the target variable for each category
target_mean = df.groupby('BS')['Energy'].mean()

# Map the mean target value to each category in the original column
df['BS_TE'] = df['BS'].map(target_mean)

In [33]:
df.head()

      Energy      load  ESMODE   TXpower  Year  Month  Day  Hour      BS_TE
0  64.275037  0.487936     0.0  7.101719  2023      1    1     1  73.091525
1  55.904335  0.344468     0.0  7.101719  2023      1    1     2  73.091525
2  57.698057  0.193766     0.0  7.101719  2023      1    1     3  73.091525
3  55.156951  0.222383     0.0  7.101719  2023      1    1     4  73.091525
4  56.053812  0.175436     0.0  7.101719  2023      1    1     5  73.091525

In [ ]:
df.drop(['Time','BS'], axis=1, inplace=True)

In [34]:
df.corr()['Energy'].apply(abs).sort_values()

Day        0.001294
Hour       0.203709
ESMODE     0.271783
TXpower    0.450760
load       0.643022
BS_TE      0.924953
Energy     1.000000
Year            NaN
Month           NaN
Name: Energy, dtype: float64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92629 entries, 0 to 92628
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Energy   92629 non-null  float64
 1   load     92629 non-null  float64
 2   ESMODE   92629 non-null  float64
 3   TXpower  92629 non-null  float64
 4   Year     92629 non-null  int32
 5   Month    92629 non-null  int32
 6   Day      92629 non-null  int32
 7   Hour     92629 non-null  int32
 8   BS_TE    92629 non-null  float64
dtypes: float64(5), int32(4)
memory usage: 4.9 MB

In [37]:
df.drop(['Month','Year'], axis=1, inplace=True)

In [38]:
df

          Energy      load  ESMODE   TXpower  Day  Hour      BS_TE
0      64.275037  0.487936     0.0  7.101719    1     1  73.091525
1      55.904335  0.344468     0.0  7.101719    1     2  73.091525
2      57.698057  0.193766     0.0  7.101719    1     3  73.091525
3      55.156951  0.222383     0.0  7.101719    1     4  73.091525
4      56.053812  0.175436     0.0  7.101719    1     5  73.091525
...          ...       ...     ...       ...  ...   ...        ...
92624  14.648729  0.087538     0.0  7.325859    2    17  14.041480
92625  14.648729  0.082635     0.0  7.325859    2    18  14.041480
92626  13.452915  0.055538     0.0  7.325859    2    21  14.041480
92627  13.602392  0.058077     0.0  7.325859    2    22  14.041480
92628  13.303438  0.048173     0.0  7.325859    2    23  14.041480

[92629 rows x 7 columns]

In [ ]:
new_feat = df.drop(['Energy','Day'] , axis=1)
new_feat

In [39]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
# Fit and transform the data
scaler = StandardScaler()
s_feat = scaler.fit_transform(new_feat)

In [45]:
x, y = s_feat, df['Energy']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [48]:
# Initialize and train the multilinear regression model
from sklearn.metrics import mean_squared_error, r2_score
model = LinearRegression()
model.fit(x_train, y_train)

# Make predictions
y_pred = model.predict(x_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R^2 Score: {r2}")

Mean Squared Error: 13.72378621940231
R^2 Score: 0.9283354234192002

In [49]:
from sklearn.neighbors import KNeighborsRegressor

# Initialize the model
knn_reg = KNeighborsRegressor(n_neighbors=5)

# Fit the model to the training data
knn_reg.fit(x_train, y_train)

# Predict on the test data
y_pred_knn = knn_reg.predict(x_test)

# Evaluate the model
rmse_knn = np.sqrt(mean_squared_error(y_test, y_pred_knn))
r2_knn = r2_score(y_test, y_pred_knn)

print(f"K-Nearest Neighbors:\n RMSE: {rmse_knn:.4f}\n R²: {r2_knn:.4f}\n")

K-Nearest Neighbors:
 RMSE: 2.6148
 R²: 0.9643

In [50]:
from sklearn.ensemble import RandomForestRegressor

# Initialize the model
forest_reg = RandomForestRegressor()

# Fit the model to the training data
forest_reg.fit(x_train, y_train)

# Predict on the test data
y_pred_forest = forest_reg.predict(x_test)

# Evaluate the model
rmse_forest = np.sqrt(mean_squared_error(y_test, y_pred_forest))
r2_forest = r2_score(y_test, y_pred_forest)

print(f"Random Forest Regressor:\n RMSE: {rmse_forest:.4f}\n R²: {r2_forest:.4f}\n")

Random Forest Regressor:
 RMSE: 2.0660
 R²: 0.9777

In [51]:
from sklearn.tree import DecisionTreeRegressor

# Initialize the model
tree_reg = DecisionTreeRegressor()

# Fit the model to the training data
tree_reg.fit(x_train, y_train)

# Predict on the test data
y_pred_tree = tree_reg.predict(x_test)

# Evaluate the model
rmse_tree = np.sqrt(mean_squared_error(y_test, y_pred_tree))
r2_tree = r2_score(y_test, y_pred_tree)

print(f"Decision Tree Regressor:\n RMSE: {rmse_tree:.4f}\n R²: {r2_tree:.4f}\n")

Decision Tree Regressor:
 RMSE: 2.7665
 R²: 0.9600